img{
    height: 200px;
   float: left;
    padding: 10px;
}

[data-name]{
    position: relative;
    border: 5px solid black;
}
.enemy{
    border-color: red;
}
.char{
    border-color: green;
}
.test{
    background-color: red;
}
body{
    background-image: url("../img/X-wing_Fathead.png");
    
}
.card{
    margin: 2%;
}